
<section class="reg_session">
  <div class="reg_img"></div>
  <div class="reg_box">
<h1 class="reg_title">Modification du Message</h1>

<%= render 'form', message: @message %>

<%= link_to 'Retour', message_path %>
</div>
</section>
