<p class="center">
    <%= image_tag 'img/404.png', class: "center" %>
    <span class="span bas">The page you are looking for cannot be found</span>
</p>
<style>
.center {
    display: block;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto ;
}
.span{
    margin-left: 480px;

}
</style>