<p class="center">
    <%= image_tag 'img/500.png', class: "center" %>
    <span class="span baas">Some error has occurred inside the server.</span>
</p>
<style>
.center {
    display: block;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto ;
}
.span{
    margin-left: 490px;
}
</style>