<div class="user_index container site _site">
<div class="user_main">
<div class="user_card dispo">
<div class="_product2">
<div class="middle">
<%= form_for @archive do |f| %>

    <%= f.label :"Do you really want to archive this article?",class: "plus warning" %>
    </br>
    </br>
    <div class="form-group col-md-8  align-items-center">
        <button type="submit" class="archive1"><%= f.check_box :archive, checked: true, class: "shadow" %>Archived</button>
        <%= link_to 'Back',root_path ,class:"_link" %>
    </div>
<% end %>
</div>
</div>
</div>
</div>
</div>





