// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
._link{
    padding:5px;
    display:inline;
    &:hover{
        color: blue;
    }
}
.dispo{
    //width:50%;
    display:flex;

}
._product{
    display: flex;
    //flex-direction: column;
    width:410px;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-right: 10px;
}
._product2{
    display: flex;
    //flex-direction: column;
    width:810px;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-right: 10px;
}