.user_index {
    background: linear-gradient(45deg, rgb(177, 174, 174), rgb(255, 255, 255));
    height: 100%;

  }

.user_nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    font-size: 1.2em;
    background-color: rgb(9, 7, 107);
    
    
}
.link{
    color: rgb(233, 215, 215);
    padding: 10px 20px;
    &:hover{
        //border: 1px solid white;
        border-radius: 8px;
        background-color: white;
        color: rgb(9, 7, 107);
        transition: color 0.5s;
    }
}
.container{
    padding: 0 20px;
    margin: 0 auto;
 }

 ._container{
    margin: 0 auto;
 }

.site{
    display: flex;
    padding-top: 10px;
    //flex-wrap: wrap;
}

._site{
    flex-wrap: wrap;
}

.user_side{
    width: 180px;
    margin-left: 20px;
}
                
.user_main{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    
}

.user_aside{
    width: 510px;
    margin-right: 20px;
}
.side_link{
    padding: 10px 20px;
    display: inline-block;
    &:hover{
        border-radius: 8px;
        background-color: white;
        color: rgb(9, 7, 107);
        transition: color 0.5s;
    }
}
.user_image{
    border-radius: 20%;
    height: 300px;
    width: 300px;
    padding-top: 10px;
}
.user_card{
    background-color:inherit;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(206, 197, 197);
    color: rgb(9, 7, 107);
   
}
.card{
    background-color:inherit;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.profile{
    width: 113px;
}
.private_index{
    display: flex;
}
%info{
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 40px;
}
.user_infos{
    @extend %info;
    
}
._user_infos{
    @extend %info;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    height: 200px;
}
.user_info{
    padding-bottom: 10px;
}
.edit{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(25, 207, 65);
    
    &:hover{
        background-color: rgb(8, 133, 15);
        color: rgb(255, 255, 255);
        transition: color 0.5s;
    }
}
.user_btn{
    padding-top: 10px;
}
.back{
    padding-left: 5px;
    &:hover{
        color: blue;
        transition: color 0.5s;
    }
}
.show{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #75af55;
    margin-top: 25px;
    width: 75px;
    &:hover{
        background-color: #477c2a;
        color: #fff;
        transition: color 0.5s;
    }
}

.area{
    width: 50%;
    padding: 10px 20px;
    border: 1px solid #479ed8;
    letter-spacing: 1px;
    color: #062235;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1em;
}
.Back_pos{
    display:inline-block;
    margin-top:40px;
}
._user_nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    font-size: 1.2em;
    background-color: rgb(9, 7, 107);
    
    width: 100%;
}
.__link{
    color: rgb(233, 215, 215);
    padding: 5px 10px;
    font-size: 12px;
    &:hover{
        //border: 1px solid white;
        //border-radius: 4px;
        //background-color: white;
        color: rgb(32, 228, 211);
        transition: color 0.5s;
    }
}

.disabled{
    color: rgb(161, 159, 159);
    padding: 5px 10px;
    font-size: 12px;
}
.dis{
    cursor: not-allowed;
}
.linked{
    color: rgb(233, 215, 215);
    padding: 5px 10px;
    font-size: 20px;
    &:hover{
        //border: 1px solid white;
        //border-radius: 4px;
        //background-color: white;
        color: rgb(32, 228, 211);
        transition: color 0.5s;
    }
}
.bas{
    padding-bottom: 150px;
    display: inline-block;
}
._bas{
    padding-bottom: 375px;
    display: inline-block;
}
.baas{
    padding-bottom: 360px;
    display: inline-block;
}
.adminlink{
    display: flex;
    justify-content: space-between;
}
.long{
    display: inline-block;
    width: 1000px;
}