
<section class="reg_session">
  <div class="reg_img"></div>
  <div class="reg_box">
<h2 class="reg_title">Modification du produit</h2>
<%= render 'form', product: @product %>

 <%= link_to 'Retour', product_path,class:"_link" %>
</div>
</section>